h1 {
    color: black;
}

.barra-superior {
    justify-content: space-between;
    padding: 10px 20px;
}

.btn-back, .btn-home {
    background: #6EDAD1;
    border: none;
    cursor: pointer;
    margin: 0px 30px;
    cursor: pointer;
}

.btn-back img, .btn-home img {
    width: 40px;
    height: 40px;
}

.btn-back{
    border-radius: 50%;
}

.btn-home{
    border-radius: 30%;
}

.contenido-niveles {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 520px;
}

.grid-niveles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.btn-nivel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 30px;
    cursor: pointer;
    margin: 10px;
}

.btn-nivel:hover{
    filter: grayscale(100%) brightness(0.8) hue-rotate(0deg);
}

.btn-nivel img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.btn-nivel span {
    font-weight: bold;
}

.barra-inferior {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.btn-help {
    background: none;
    border: none;
    cursor: pointer;
}

.btn-help img {
    width: 40px;
    height: 40px;
}

