.barra-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nivel-info {
    display: flex;
    align-items: center;
}

.nivel-label {
    background-color: #6EDAD1;
    color: black;
    font-weight: bold;
    margin-right: 10px;
    padding: 10px 40px;
    border-radius: 50px;
}

.progress-bar {
    width: 600px;
    height: 30px;
    background-color: #E0E0E0;
    border-radius: 15px;
    overflow: hidden;
}

.progress {
    width: 30%;
    height: 100%;
    background-color: #6EDAD1;
}

.game-controls {
    display: flex;
    align-items: center;
}

.control-icon {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.timer {
    background-color: #6EDAD1;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    padding: 5px 0px;
    width: 110px;
    border-radius: 50px;
    text-align: center;
}

.lives {
    position: absolute;
    top: 100px;
    left: 66%;
    background-color: white;
    padding: 5px 30px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    transform: translateX(0%);
}

.life-icon {
    width: 24px;
    height: 24px;
    margin: 0px 10px;
}

.game-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    height: 420px;
    max-height: 420px;
}

.instruction-box {
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 24px;
}

.instruction-box p{
    margin: 12px 0px;
}

.game-character-tipo1 {
    height: 240px;
    width: auto;
    position: absolute;
    left: 55%;
    top: 210px;
    transform: translateX(10%);
}

.help-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #41C0B9;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.next-btn {
    padding: 15px 35px;
    background-color: #41C0B9;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 20px;
    flex-shrink: 0;
}

.bottom-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}


/* Estilos de las preguntas Tipo1*/
.chemical-formula {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.chemical-name{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.formula-img{
    width: auto;
    height: 200px;
}

.formula-input {
    text-align: center;
    font-size: 24px;
    position: absolute;
}

/* Estilos que cambian en las preguntas Tipo1*/
.formula-input.op1{
    width: 80px;
    height: 50px;
    top: 270px;
    left: 53%;
    transform: translateX(0%);
}

.formula-input.op2{
    width: 30px;
    height: 30px;
    top: 403px;
    left: 51.5%;
    transform: translateX(0%);
}