/* Styles for the "NIVEL 2" screen */


.options-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
    height: 250px;
}

.option-btn {
    background-color: #41C0B9;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 15px 60px;
    font-size: 16px;
    cursor: pointer;
}
.game-character-tipo2 {
    height: 350px; /* Ajusta el tamaño según necesites */
    width: auto; /* Mantén la proporción original */
    position: absolute;
    right: 59%; /* Ajusta la posición horizontal según necesites */
    top: 70px; /* Ajusta la posición vertical */
    animation: moveUpDown 1s ease-in-out infinite; /* Aplica la animación */
}

/* ANIMACION DE LAS IMAGENES */

@keyframes moveUpDown {
    0% {
        transform: translateY(-3px); /* Comienza 3 píxeles arriba */
    }
    50% {
        transform: translateY(3px); /* Se mueve 3 píxeles abajo */
    }
    100% {
        transform: translateY(-3px); /* Regresa a la posición inicial */
    }
}




/* Estilos de las preguntas Tipo2*/
.selection-game {
    display: flex;
    justify-content: space-between;
    width: 500px;
    min-height: 400px;
    max-height: 400px;
    align-items: center;
}

.chemical-formula-tipo2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 24px;
    margin-bottom: 10px;
    align-items: center;
}

.formula-image {
    width: 200px;
    height: auto;
    max-height: 250px;
}
